.task {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 30px;
    background: #FFBA08;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}


.MuiIconButton-colorSecondary {
    color: #1C3144!important;
}

.MuiCheckbox-root {
    margin-left: 20px!important;
    color: #1C3144!important;
}

.text {
    margin-left: 30px;
    margin-right: auto;
    font-family: 'Epilogue';
    font-weight: 400;
}

.time {
    margin-right: 30px;
}

.close-icon {
    cursor: pointer;
    margin-right: 30px;
}

.close-icon:hover {
    animation: animowany_tekst 1s ease-out;
}

.done {
    text-decoration: line-through;
    opacity: 0.7;
}

@keyframes animowany_tekst {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(90);
    }
    50% {
        transform: rotate(180);
    }
    75% {
        transform: rotate(270);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 736px) {
    .time{
        display: none;
    }
    .MuiCheckbox-root {
        margin-left: 10px!important;
    }

    .text {
        margin-left: 10px;
        margin-right: auto;
        font-family: 'Epilogue';
        font-size: 14px;
    }
}